@model IEnumerable<HospitalManagement.Models.Department>

@{
    ViewData["Title"] = "Departments";
}

<h1>Departments</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Department</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.DepartmentName)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var department in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => department.DepartmentName)</td>
                <td>@Html.DisplayFor(modelItem => department.Description)</td>
                
                <td>
                    <a asp-action="Edit" asp-route-id="@department.DepartmentId" class="btn btn-warning">Edit</a> |
                    <a asp-action="Details" asp-route-id="@department.DepartmentId" class="btn btn-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@department.DepartmentId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
